//values based on Chrome Responsive Mode
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop-s: 1024px; //is also iPad Pro screen resolution width
$laptop-l: 1440px; //Macbook Pro 13 inch screen resolution width
$desktop-xl: 2560px;

//colors
//from custom moodboard: https://i.imgur.com/CB9KhnL.jpg
$light-beige: #e6dfd6;
$dark-blue: #203a4b;
$gray: #c0bfc4;
$light-brown: #cca191;
$light-green: #b1c6c1;

//spacing
$spacer: 30px;
