//values based on Chrome Responsive Mode
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop-s: 1024px; //is also iPad Pro screen resolution width
$laptop-l: 1440px; //Macbook Pro 13 inch screen resolution width
$desktop-xl: 2560px;

//colors
$red: #f20000;
$white: #fff;

//spacing
$spacer: 30px;
